<!DOCTYPE html>
<html>
    <head>
    <!--<link type="text/css" rel="stylesheet" href="/static/styles.css">-->
    <link type="text/css" rel="stylesheet" href="/static/grid-style2.css">
    </head>
<body>
	<div class="wrapper">
		<header class="header bg"><h1 class="black" ><em>Fun Activities</em></h1><em>Catalog App</em>
  	    </header>

	{% block content %}

	{% endblock %}

		<footer class="footer"><em class="style3">Created by Leonardo Baroncini in August, 2017 for Udacity's FSWD nanodegree</em></footer>
	</div>
</body>
</html>