{% extends "base.html" %}
{% block content %}

<nav>
    <div>
        {% if 'username' not in session %}
		<a class="right" href="{{url_for('showlogin')}}">Log in</a>
		{% else %}
		<a class="right" href="{{url_for('disconnect')}}">Log out</a>
		{% endif %}
		<a class="left" href= '{{url_for('showActivityItems', activity_id= i.activity_id, activityitems_id=i.id)}}'>Back</a>
	</div>
</nav>

<article>

	<div class='flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
			    </ul>
			{% endif %}
		{% endwith %}
		<br>
    </div>
	

 <p>Are you sure you want to delete activity item: "{{i.name}}"?</p>

  <form action= "{{url_for('deleteActivityItem', activity_id = i.activity_id, activityitems_id=i.id)}}" method = 'POST'>

   <input type='submit' value='Delete'>

   <a class="small-link" href= '{{url_for('showActivityItems', activity_id= i.activity_id, activityitems_id=i.id)}}'>Cancel</a>

  </form>
</article>

{% endblock %}

