{% extends "base.html" %}
{% block content %}

  <nav>
    <div>
        {% if 'username' not in session %}
		<a class="right" href="{{url_for('showlogin')}}">Log in</a>
		{% else %}
		<a class="right" href="{{url_for('disconnect')}}">Log out</a>
		<a  class="left" href='{{url_for('newActivityItem', activity_id = activity.id )}}'>Create new Activity Item</a>
		<a class="left" href='{{url_for('showActivities')}}'>Back to Activities</a>
		{% endif %}
	</div>
  </nav>

<article>
		<h3>{{ activity.name }} items</h3>
		<hr class="style1">

<div class='flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
			    </ul>
			{% endif %}
		{% endwith %}
</div>
<div class='centeritems'> <!--this-->
		{% for i in items %}
	    <div class='card2'><!--this-->
		<div class="polaroid2">
		<div class="container"><!--this-->
			<p>{{i.name}}</p>
			<em class="style2">From: {{i.price}}</em>
			<br>
			<em class="style2">Description: {{i.description}}</em>
			<br><br>

		<a class="small-link left2" href='{{url_for('editActivityItem', activity_id = activity.id, activityitems_id = i.id )}}'>Edit  </a>
		<a Class="small-link left2" href='{{url_for('deleteActivityItem', activity_id = activity.id, activityitems_id = i.id )}}'> Delete</a><br>
		</div><!--this-->
	    </div>
	    </div><!--this-->

		{% endfor %}
</div><!--this-->

</article>

{% endblock %}





